@CHARSET "ISO-8859-1";

body{
	background-color: orange;
	
}
.botones button{
	display: block;
	margin-top: 10px;
}
.botones div{
	
}
#inicio{
	position:absolute;
	top: 90%;
	left:90%;
}